.RPS_title {
    text-align: center;
}

.RPS_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons {
  margin-left: 20px;
  width: 200px;
  height: 75px;
  font-size: large;
}

.Player_score {
  margin-right: 300px;
  font-size: 40px;
  margin-top: -10px;
}

.Computer_score {
  font-size: 40px;
  margin-left: 300px;
  margin-top: -10px;
}