.RPS_title {
    text-align: center;
    background-color: brown;
}

.RPS_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(216, 150, 7);
}

.rock_button {
  margin-left: 20px;
  width: 200px;
  height: 75px;
  font-size: large;
  background-color: rgb(122, 82, 21);
  cursor: pointer;
}

.paper_button {
  margin-left: 20px;
  width: 200px;
  height: 75px;
  font-size: large;
  background-color: white;
  cursor: pointer;
}

.scissors_button {
  margin-left: 20px;
  width: 200px;
  height: 75px;
  font-size: large;
  background-color: rgb(155, 221, 221);
  cursor: pointer;
}

.Player_score {
  margin-right: 300px;
  font-size: 40px;
  margin-top: 5px;
}

.Computer_score {
  font-size: 40px;
  margin-left: 300px;
  margin-top: 5px;
}